{% extends 'base.html'%}

{% block title %}Resumen de compra{% endblock %}

{% load static %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen de compra</title>

    <link rel="stylesheet" href="/TIENDA/static/app_ventas/ventas_page/css/resumen.css">

    <link rel="stylesheet" href="{% static 'app_ventas/ventas_page/css/resumen.css' %}">
</head>
<body>

    <div class="resumen">
        <div class="res-productos">
            <h2>Productos</h2>
            
            <div class="res-cont-gral">

                <div class="res-cont-producto">

                    <div class="res-product-group">
                        <div class="res-cont-img">
                            <img src="" alt="Producto">
                        </div>
                        <h3>Televisor 100 puldgadas</h3>
                    </div>
                    <div class="res-product-group">
                        <div class="precio">$10.000</div>
                        <div class="res-prod-cont-btns">
                            <button class="res-btn-eliminar">Eliminar</button>
                            <div class="res-cont-cantidad">
                                <button class="res-prod-cont-btn">-</button>
                                <div class="res-prod-cont-cant">1</div>
                                <button class="res-prod-cont-btn">+</button>
                            </div>
                            
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        <div class="res-compra">
            <h2>Resumen de compra</h2>

            <div class="resumen-cont-compra-group">
                <div class="resumen-cont-compra-group-item">
                    <h3>Subtotal</h3>
                    <p>$10.000</p>
                </div>
                <div class="resumen-cont-compra-group-item">
                    <h3>Envío</h3>
                    <p>$2.000</p>
                </div>
                <div class="resumen-cont-compra-group-item">
                    <h3>Total</h3>
                    <p>$12.000</p>
                </div>
                <button class="res-btn-comprar">Continuar compra</button>
            </div>
        </div>
    </div>
    
</body>
</html>



  
{% endblock %}