.resumen {
    display: grid;
    grid-template-columns: 1fr 300px; /* Cambié 20% a un ancho fijo de 300px para que sea más estable */
    gap: 20px;
    padding: 20px 100px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}

.resumen h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.res-productos, .res-compra {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.664);
}

.res-cont-gral {
    margin-top: 20px;
}

.res-cont-producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.res-product-group {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.res-cont-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.res-cont-img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.precio {
    font-weight: bold;
}

.res-prod-cont-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.res-cont-cantidad {
    display: flex;
    align-items: center;
    gap: 5px;
}

.res-prod-cont-btn {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.res-prod-cont-cant {
    min-width: 20px;
    text-align: center;
}

/* COMPRA */
.resumen-cont-compra-group {
    margin-top: 20px;
}

.resumen-cont-compra-group-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.resumen-cont-compra-group-item h3, 
.resumen-cont-compra-group-item p {
    margin: 0;
}
